__pycache__/
.ok_history
.ok_storage
ok
*.ok
*.yaml
ucb.py
parsons/
__init__.py
construct_check.py

/projs/hog/*
!/projs/hog/hog.py
!/projs/hog/tests/
/projs/hog/tests/__init__.py
/projs/hog/tests/check_strategy.py
/projs/hog/tests/play_utils.py

/projs/cats/*
!/projs/cats/cats.py
!/projs/cats/tests/
/projs/cats/tests/__init__.py
/projs/cats/tests/abstraction_check.py

/labs/lab06/car.py

/projs/ants/*
!/projs/ants/ants.py
!/projs/ants/tests/
/projs/ants/tests/__init__.py

/labs/lab07/reverse_link_diagram.png

/projs/lambdaing/cardgame.py
/projs/lambdaing/cards.py

editor/
scheme

/labs/lab11/pair.py
/labs/lab11/scheme_tokens.py

!/projs/scheme/
/projs/scheme/abstract_turtle/
/projs/scheme/images/
/projs/scheme/mytests.rst
/projs/scheme/tests.scm
/projs/scheme/pair.py
/projs/scheme/scheme.py
/projs/scheme/scheme_builtins.py
/projs/scheme/scheme_reader
/projs/scheme/scheme_tokens.py
/projs/scheme/scheme_utils.py

/labs/lab13/lab13.lark

/labs/lab14/lab14.lark
